@import 'assets/styles/variables.scss';

body {
  background-image: radial-gradient(50vw, rgb(205, 205, 205), rgb(255, 255, 255));
  font-family: var(--primary-font-family);
  font-size: var(--body-font-size);
  margin: 0;
  overflow: hidden;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

header .mat-select-value-text {
  color: #ffffff;
  letter-spacing: 0.0001rem;
}
