:root {
  --base-font-size: calc(1vw);

  --primary-brand-color: rgb(241, 76, 66);
  --secondary-brand-color: rgba(26, 118, 199, 0.28);

  --primary-font-family: 'Roboto', sans-serif;
  --dark-text-color: rgb(0, 0, 0);
  --light-text-color: rgb(255, 255, 255);

  --left-navigation-font-size: 0.45rem;
  --large-font-size: 1rem;
  --body-font-size: 0.9rem;
  --small-font-size: 0.7rem;
  --small-font-color: rgb(120, 120, 120);
  --drop-zone-font-color: rgb(120, 120, 120);
  --notification-z-index: 900;
  --topmost-z-index: 2000;
  --on-top-of-map-z-index: 1000;
  --data-explorer-left-pane-default-width: 17%;
  --data-explorer-right-pane-default-width: 17%;
  --dashboards-left-pane-default-width: 22%;
  --dashboards-right-pane-default-width: 22%;
  --alerts-left-pane-default-width: 22%;
  --dialog-header-and-footer-background-color: rgba(230, 230, 230);

  font-size: var(--base-font-size);
}
